Para la instalación tanto de NumPy como de Matplotlib se requiere hacer una validación del la versión de Python (en este caso se uso la versión 3.12.0)

-----------------------------------------
python --version
-----------------------------------------

Y la versión de pip en este caso usamos la versión 25+.

-----------------------------------------
py -m pip --versión pip
-----------------------------------------

Para la instalación de Numpy.

-----------------------------------------
py -m pip install numpy
-----------------------------------------

Para la instalación de Matplotlib.

-----------------------------------------
py -m pip install Matplotlib
-----------------------------------------
